robots:
  cf_1:
    enabled: true
    uri: udp://127.0.0.1:19850
    initial_position: [0.0, 0.0, 0.0]
    type: cf_sim

  cf_2:
    enabled: false
    uri: udp://127.0.0.1:19851
    initial_position: [1.0, 0.0, 0.0]
    type: cf_sim

  cf_3:
    enabled: false
    uri: udp://127.0.0.1:19852
    initial_position: [0.0, 1.0, 0.0]
    type: cf_sim

  cf_4:
    enabled: false
    uri: udp://127.0.0.1:19853
    initial_position: [1.0, 1.0, 0.0]
    type: cf_sim

  cf_5:
    enabled: false
    uri: udp://127.0.0.1:19854
    initial_position: [1.0, 4.0, 0.0]
    type: cf_sim

  cf_6:
    enabled: false
    uri: udp://127.0.0.1:19855
    initial_position: [1.0, 0.0, 0.0]
    type: cf_sim

  cf_7:
    enabled: false
    uri: udp://127.0.0.1:19856
    initial_position: [1.0, 1.0, 0.0]
    type: cf_sim

  cf_8:
    enabled: false
    uri: udp://127.0.0.1:19857
    initial_position: [1.0, 2.0, 0.0]
    type: cf_sim

robot_types:
  cf_sim:
    motion_capture:
      enabled: false
    big_quad: false
    battery:
      voltage_warning: 3.8
      voltage_critical: 3.7
    firmware_logging:
      enabled: true
      default_topics:
        pose:
          frequency: 100
      custom_topics:
        velocity:
          frequency: 100
          vars: ["stateEstimateZ.vx", "stateEstimateZ.vy", "stateEstimateZ.vz"]

all:
  firmware_params:
    commander:
      enHighLevel: 1
    stabilizer:
      estimator: 2
      controller: 1
    locSrv:
      extPosStdDev: 1e-3
      extQuatStdDev: 0.5e-1
  broadcasts:
    num_repeats: 15
    delay_between_repeats_ms: 1
